<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Marketing - MS</title>

    <!-- meta tag, css, fonts -->
    <th:block th:replace="common/head"></th:block>
    <!-- page css -->
    <th:block layout:fragment="css"></th:block>

</head>

<body>
<header th:replace="common/header :: header"></header>
    <!-- Page Wrapper -->
<!--    <div id="wrapper">-->

<!--        &lt;!&ndash; 공통 Sidebar &ndash;&gt;-->
<!--        <header th:replace="common/header :: header"></header>-->

<!--        &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--        <div id="content-wrapper" class="d-flex flex-column">-->

<!--            <div id="content">-->

<!--                &lt;!&ndash; 공통 header &ndash;&gt;-->
<!--                <header th:replace="common/header :: header"></header>-->

<!--                &lt;!&ndash; page content body 구성 &ndash;&gt;-->
<!--                <div class="container-fluid">-->
<!--                    <th:block layout:fragment="content"></th:block>-->
<!--                </div>-->

<!--                &lt;!&ndash; 공통 footer &ndash;&gt;-->
<!--                <footer th:replace="common/footer :: footer"></footer>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

    <!-- other -->
    <th:block th:replace="common/other"></th:block>

    <!-- 공통 javascript -->
    <th:block th:replace="common/js"></th:block>
    <th:block layout:fragment="js"></th:block>

</body>

</html>