<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Marketing - MS</title>

    <!-- meta tag, css, fonts -->
    <th:block th:replace="common/head"></th:block>
    <!-- page css -->
    <th:block layout:fragment="css"></th:block>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 공통 Sidebar -->
        <header th:replace="common/sidebar :: sidebar"></header>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- 공통 header -->
                <header th:replace="common/header :: nav"></header>

                <!-- page content body 구성 -->
                <div class="container-fluid">
                    <th:block layout:fragment="content"></th:block>
                </div>

                <!-- 공통 footer -->
                <footer th:replace="common/footer :: footer"></footer>

            </div>

        </div>

    </div>

    <!-- other -->
<!--    <th:block th:replace="common/other"></th:block>-->

    <!-- 공통 javascript -->
    <th:block th:replace="common/js"></th:block>
<!--    <th:block layout:fragment="js"></th:block>-->

</body>

</html>